*{
    margin: 0;
    padding: 0;
}
header, .alert{
    z-index: 100;
}
/* home */
.home{
    /* margin: 0 auto; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.home_art{
    grid-column: 2/3;
}
.home_art_flex{
    display: flex;
    justify-content: right;
}

.img_home{
    width: 200px;
}
/* description card */
.description{
    height: 10px;
    overflow: hidden;
    transition: height .3s ease-in .3s;
} 
.description:hover{
    height: 80px;
}

.img{
    width: 90%;
    height: 100px;
    margin: 0 auto;

}

/* Carrito */
.carrito{
    min-height: 70vh;
    max-width: 1000px;
    margin: 0 auto;
}
.carrito-img{
    width: 50px;
    
}

.table__productos{
    display: flex;
}

.table__productos>img{
    width: 4rem;
    object-fit: contain;
    margin-right: 1.5rem;
}
.table__cantidad>input{
    width: 1.5rem;
    border: none;
    outline: 0;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
    margin-right: 1rem;
}
/**/
.hide{
    display: none;
}

@media only screen and (max-width: 700px) {
/* home */
.home{
    /* margin: 0 auto; */
    width: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.home_art{
    grid-column: span 2 ;
}
    /* description card */
.description{
    height: 50px;
    /* overflow: hidden; */
    /* transition: height .3s ease-in .3s; */
} 

}